<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SpringNews</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
    <div class="row row-no-gutters">
            <table id="table" class="table table-striped table-condensed">
                <tbody>
                    <tr align="center">
                        <td><a href="/articles/FRESH">FRESH</a></td>
                        <td><a href="/articles/ALL">ALL</a></td>
                        <td><a href="/articles/SPORT">SPORT</a></td>
                        <td><a href="/articles/POLITICS">POLITICS</a></td>
                        <td><a href="/articles/CULTURE">CULTURE</a></td>
                        <td><a href="/articles/SCIENCE">SCIENCE</a></td>
                        <td><a href="/new_article">UPLOAD</a></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div style="padding-left: 5%; padding-right: 5%">
        <h1 th:text="${category}"></h1>
        <table id="table-content" class="table table-striped">
            <tbody>
                <tr th:each="article : ${articles}">
                <td>
                    <h2>
                        <div>
                            <a th:href="@{'~/article/' + ${article.getId()}}" th:text="${article.getHeadline()}"></a>
                        </div>
                    </h2>
                    <div th:text="${{article.getShortText()}}"></div>
                    <div>&nbsp;</div>
                    <div th:width="100">
                        <div style="float: left; width: 50%" th:text="${{article.getAuthor()}}"></div>
                        <div style="float: left; width: 50%; text-align: right" th:text="${{article.getPublicationTimeWithFormat()}}"></div>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>